/*
	
	FONTS
	
*/
@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222863&_=1644218271924');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222863&_=1644218271924?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222864&_=1644218667217') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222865&_=1644218694115') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222866&_=1644218715703') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222867&_=1644218737942#TTNorms-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222868&_=1644218791737');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222868&_=1644218791737?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222869&_=1644218816628') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222870&_=1644218836260') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222871&_=1644218857828') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222872&_=1644218895568#TTNorms-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222858&_=1644218095830');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222858&_=1644218095830?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222859&_=1644218140657') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222860&_=1644218163565') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222861&_=1644218192445') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222862&_=1644218225157#TTNorms-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222875&_=1644219049286.eot');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222875&_=1644219049286?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222876&_=1644219078939') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222877&_=1644219097805') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222878&_=1644219120080') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222879&_=1644219142423#TTNorms-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222880&_=1644219223483');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222880&_=1644219223483?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222881&_=1644219248530') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222882&_=1644219270475') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222883&_=1644219291294') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=222884&_=1644219307087#TTNorms-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196160&_=1636447401291');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196160&_=1636447401291?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196164&_=1636447704478') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196163&_=1636447693823') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196162&_=1636447680548') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196161&_=1636447410817#TTNorms-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196149&_=1636447716385');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196149&_=1636447716385?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196153&_=1636447879683') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196152&_=1636447870634') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196151&_=1636447861147') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196150&_=1636447755573#TTNorms-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196154&_=1644219324020');
	src: url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196154&_=1644219324020?#iefix') format('embedded-opentype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196159&_=1644219343473') format('woff2'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196157&_=1644219368655') format('woff'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196156&_=1644219389122') format('truetype'),
		url('https://econom.mos.ru/mira/Do?doaction=DownloadFileWithStatisticField&fileId=196155&_=1644219398866#TTNorms-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
/* 
	
	GENERAL
	
	 */
.rt-post-container, .rt-post-footer, #rt-post-container, #rt-post-footer {
	 width: 56.25rem;
	 margin: 0 auto;
}
.rt-post-container, .rt-post-footer, #rt-post-container, #rt-post-footer {
	font-family: "TT Norms", "TTNorms" !important;
	font-size: 1.125rem;
	line-height: 1.5rem;
	color: black;
}
.rt-post-container table, .rt-post-container p, .rt-post-container span, .rt-post-container ul *, .rt-post-footer table, .rt-post-footer p, .rt-post-footer span, .rt-post-footer ul *, #rt-post-container table, #rt-post-container p, #rt-post-container span, #rt-post-container ul *, #rt-post-footer table, #rt-post-footer p, #rt-post-footer span, #rt-post-footer ul * {
	font-family: "TT Norms", "TTNorms" !important;
	font-size: 1.125rem !important;
	line-height: 1.5rem !important;
	color: black;
	margin: 1rem 0;
}
.rt-post-container hr, #rt-post-container hr {
	border: 2px solid rgb(155, 24, 39);
	border-radius: 15rem;
}
.rt-post-container img, #rt-post-container img {
	margin: 0.5rem auto;
}
span.rt-post-red-text, span#rt-post-red-text {
	color: rgb(155, 24, 39) !important;
}
.rt-post-button-centered, #rt-post-button-centered {
	font-size: 1.125rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	padding: 1rem 2rem;
	color: rgb(155, 24, 39);
	border: 3px solid rgb(155, 24, 39);
	border-radius: 20rem;
	background: white;
	margin: 2rem;
	transition: ease-in-out 0.3s;
	font-family: "TT Norms", "TTNorms";
}
.rt-post-button-centered:hover, #rt-post-button-centered:hover {
	color: white;
	border: 3px solid rgb(155, 24, 39);
	background: rgb(155, 24, 39);
}
/*
	
	HEADINGS
	
	*/
.rt-post-container h1, .rt-post-footer h1, #rt-post-container h1, #rt-post-footer h1 {
	 font-size: 2rem;
}
.rt-post-container h2, .rt-post-footer h2, #rt-post-container h2, #rt-post-footer h2 {
	 font-size: 1.5rem;
}
.rt-post-container h3, .rt-post-footer h3, #rt-post-container h3, #rt-post-footer h3 {
	 font-size: 1.175rem;
}
.rt-post-container h4, .rt-post-footer h4, #rt-post-container h4, #rt-post-footer h4 {
	 font-size: 1.125rem;
}
.rt-post-container h5, .rt-post-footer h5, #rt-post-container h5, #rt-post-footer h5 {
	 font-size: 1rem;
}
.rt-post-container h6, .rt-post-footer h6, #rt-post-container h6, #rt-post-footer h6 {
	 font-size: 0.875rem;
}
.rt-post-container strong, .rt-post-footer strong, #rt-post-container strong, #rt-post-footer strong {
	 font-size: inherit;
	 font-weight: bold;
}
.rt-post-container u, .rt-post-footer u, #rt-post-container u, #rt-post-footer u {
	 font-size: inherit;
	 text-decoration: underline; 
}
.rt-post-container s, .rt-post-footer s, #rt-post-container s, #rt-post-footer s {
	 font-size: inherit;
	 text-decoration: line-through; 
}
.rt-post-container em, .rt-post-footer em, #rt-post-container em, #rt-post-footer em {
	 font-size: inherit;
	 font-style: italic;
}

/*
	
	LINK
	
	*/
.rt-post-container a {
	color: rgb(195, 24, 39) !important;
	text-decoration: none;
	transition: ease-in-out 0.2s;
}
.rt-post-container a:hover {
	color: rgb(155, 24, 39) !important;
	text-decoration: underline;
	transition: ease-in-out 0.2s;
}
/* 
	
	TABLE
	
	 */
.rt-post-container table {
	border: none;
	margin: 0 auto;
	min-width: 20rem;
	width: auto;
	border-collapse: collapse;
}
.rt-post-container table tr {
	border-bottom: 3px solid rgb(179, 179, 179);
}
.rt-post-container table tr td {
	padding: 0.5rem 2rem 0.25rem 2rem;
}
.rt-post-container table span {
	color: rgb(155, 24, 39) !important;
}
/* 
	
	FOOTER
	
	 */
/*
	
	DEPR
	
	*/	 
.rt-post-button-footer-depr {
	display: block;
	padding: 1rem 2rem;
	background-color: #d4eef9;
	color: #19607e;
	transition: ease-in-out 0.3s;
	font-family: "TT Norms", "TTNorms";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 0.5rem;
	margin: 0.5rem;
}
.rt-post-button-footer-depr:hover {
	background-color: #19607e;
	color: #d4eef9;
}
.rt-post-button-footer-depr:active {
	background-color: #84b0c4;
	color: #d4eef9;
}
